# this is sample configuration. 
# replace with one from AWS VPN
client
dev tun
proto tcp
nobind
persist-key
persist-tun
remote-cert-tls server
cipher AES-256-GCM
<ca>
FIXME ADD YOUR CA CHAIN HERE
</ca>

auth-nocache
reneg-sec 0
